force-app/main/default/flows/Create_a_Work_Log.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigns Work Log variables based on info received from the previous screen.</description>
        <name>Assign_Arch_Call_Variables</name>
        <label>Assign Arch Call Variables</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CWL_Sprint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Sprint.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arch_Call_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_SF_or_DevOps_Work</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arch_Call_SF_or_DevOps_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arch_Call_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Work_Log_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arch_Call_Work_Log_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Start_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arch_Call_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_End_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arch_Call_End_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsEmergency</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsDistraction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Related_Story</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Work Log variables based on info received from the previous screen.</description>
        <name>Assign_Daily_Standup_Variables</name>
        <label>Assign Daily Standup Variables</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CWL_Sprint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Sprint.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standup_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_SF_or_DevOps_Work</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standup_SF_or_DevOps_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standup_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Work_Log_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standup_Work_Log_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Start_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standup_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_End_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standup_End_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsEmergency</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsDistraction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Related_Story</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Work Log variables based on info received from the previous screen.</description>
        <name>Assign_Evening_OH_Variables</name>
        <label>Assign Evening OH Variables</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CWL_Sprint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Sprint.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Related_Story</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EveningOH_Related_Story.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EveningOH_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_SF_or_DevOps_Work</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EveningOH_SF_or_DevOps_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EveningOH_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Work_Log_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EveningOH_Work_Log_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Start_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EveningOH_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_End_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EveningOH_End_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsEmergency</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsDistraction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Work Log variables based on info received from General Work Log Review Screen</description>
        <name>Assign_Gen_Log_Variables</name>
        <label>Assign Gen Log Variables</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CWL_Sprint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Sprint.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Related_Story</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Story.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_SF_or_DevOps_Work</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SF_or_DevOps_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Work_Log_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Log_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Start_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_End_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsEmergency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsDistraction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distraction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Work Log variables based on info received from the previous screen.</description>
        <name>Assign_Morning_OH_Variables</name>
        <label>Assign Morning OH Variables</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CWL_Sprint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Sprint.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Related_Story</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MorningOH_Related_Story.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MorningOH_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_SF_or_DevOps_Work</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MorningOH_SF_or_DevOps_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MorningOH_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Work_Log_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MorningOH_Work_Log_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Start_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MorningOH_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_End_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MorningOH_End_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsEmergency</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsDistraction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Work Log variables based on info received from the previous screen.</description>
        <name>Assign_Retro_Variables</name>
        <label>Assign Retro Variables</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CWL_Sprint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Sprint.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retro_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_SF_or_DevOps_Work</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retro_SF_or_DevOps_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retro_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Work_Log_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retro_Work_Log_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Start_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retro_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_End_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retro_End_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsEmergency</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsDistraction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Related_Story</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Work Log variables based on info received from the previous screen.</description>
        <name>Assign_Sizing_Log_Variables</name>
        <label>Assign Sizing Log Variables</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CWL_Sprint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Sprint.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sizing_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_SF_or_DevOps_Work</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sizing_SF_or_DevOps_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sizing_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Work_Log_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sizing_Work_Log_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Start_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sizing_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_End_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sizing_End_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsEmergency</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_IsDistraction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CWL_Related_Story</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Log</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Choice for Screen1 - &quot;Select Type of Work Log&quot;</description>
        <name>Daily_Standup_Log</name>
        <choiceText>&lt;strong style=&quot;color: rgb(0, 0, 255);&quot;&gt;Daily Standup Call&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily_Standup_Log</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice for Screen1 - &quot;Select Type of Work Log&quot;</description>
        <name>Evening_OH_Log</name>
        <choiceText>&lt;strong style=&quot;color: rgb(208, 131, 13);&quot;&gt;Evening OH Call&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Evening_OH_Log</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice for Screen1 - &quot;Select Type of Work Log&quot;</description>
        <name>General_Work_Log</name>
        <choiceText>&lt;strong&gt;General Work Log&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General_Work_Log</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice for Screen1 - &quot;Select Type of Work Log&quot;</description>
        <name>Morning_OH_Log</name>
        <choiceText>&lt;strong style=&quot;color: rgb(228, 159, 0);&quot;&gt;Morning OH Call&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Morning_OH_Log</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice for Screen1 - &quot;Select Type of Work Log&quot;</description>
        <name>Sprint_Retro_Log</name>
        <choiceText>Sprint Retro Log</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sprint_Retro_Log</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice for Screen1 - &quot;Select Type of Work Log&quot;</description>
        <name>Story_Sizing_Log</name>
        <choiceText>Story Sizing Log</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Story_Sizing_Log</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice for Screen1 - &quot;Select Type of Work Log&quot;</description>
        <name>Weekly_Architecture_Log</name>
        <choiceText>Weekly Architecture Log</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly_Architecture_Log </stringValue>
        </value>
    </choices>
    <decisions>
        <description>Decision node for Work Log type selection on Screen 1</description>
        <name>Log_Type_Decision</name>
        <label>Log Type Decision</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>General_Work_Log_Review_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>General Log</defaultConnectorLabel>
        <rules>
            <name>Morning_OH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Log_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Morning_OH_Log</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Morning_OH_Work_Log_Review_Screen</targetReference>
            </connector>
            <label>Morning OH</label>
        </rules>
        <rules>
            <name>Daily_Standup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Log_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Daily_Standup_Log</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standup_Work_Log_Review_Screen</targetReference>
            </connector>
            <label>Daily Standup</label>
        </rules>
        <rules>
            <name>Evening_OH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Log_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Evening_OH_Log</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EveningOH_Work_Log_Review_Screen</targetReference>
            </connector>
            <label>Evening OH</label>
        </rules>
        <rules>
            <name>Arch_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Log_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Weekly_Architecture_Log</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Arch_Call_Work_Log_Review_Screen</targetReference>
            </connector>
            <label>Arch Call</label>
        </rules>
        <rules>
            <name>Retro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Log_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sprint_Retro_Log</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retro_Work_Log_Review_Screen</targetReference>
            </connector>
            <label>Retro</label>
        </rules>
        <rules>
            <name>Sizing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Log_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Story_Sizing_Log</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sizing_Work_Log_Review_Screen</targetReference>
            </connector>
            <label>Sizing</label>
        </rules>
    </decisions>
    <description>A flow to create a work log. Populates some data based on common outcomes.</description>
    <dynamicChoiceSets>
        <name>Rel_Story_Choices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Sprint.Id</elementReference>
            </value>
        </filters>
        <object>Acres_Story__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sf_dev_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SF_or_DevOps_Work__c</picklistField>
        <picklistObject>Work_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Work_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Work_Log_Status_Field</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Work_Log_Status__c</picklistField>
        <picklistObject>Work_Log__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Gives the last work log&apos;s End Time plus one minute for Gen Log creation.</description>
        <name>date_time_latest_WL_time</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISBLANK({!Get_Latest_Work_Log.Id}), Now(), ({!Get_Latest_Work_Log.End_Time__c} + (1/1440)))</expression>
    </formulas>
    <formulas>
        <name>date_time_now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>Gives tomorrow&apos;s date at 3AM in date/time format.</description>
        <name>date_time_today_end</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()+1) &amp; &quot; 07:00:00.00&quot;)</expression>
    </formulas>
    <formulas>
        <description>Gives the current date at 3AM in date/time format.</description>
        <name>date_time_today_start</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()) &amp; &quot; 07:00:00.00&quot;)</expression>
    </formulas>
    <formulas>
        <description>Today&apos;s date at 10:00 AM EST (Converted from GMT)</description>
        <name>today_at_1000am</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()) &amp; &quot; 14:00:00.00&quot;)</expression>
    </formulas>
    <formulas>
        <description>Today&apos;s date at 10:30 AM EST (Converted from GMT)</description>
        <name>today_at_1030am</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()) &amp; &quot; 14:30:00.00&quot;)</expression>
    </formulas>
    <formulas>
        <description>Today&apos;s date at 11:00 AM EST (Converted from GMT)</description>
        <name>today_at_1100am</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()) &amp; &quot; 15:00:00.00&quot;)</expression>
    </formulas>
    <formulas>
        <description>Today&apos;s date at 1:30 PM EST (Converted from GMT)</description>
        <name>today_at_130pm</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()) &amp; &quot; 17:30:00.00&quot;)</expression>
    </formulas>
    <formulas>
        <description>Today&apos;s date at 2:00 PM EST (Converted from GMT)</description>
        <name>today_at_200pm</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()) &amp; &quot; 18:00:00.00&quot;)</expression>
    </formulas>
    <formulas>
        <description>Today&apos;s date at 2:30 PM EST (Converted from GMT)</description>
        <name>today_at_230pm</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()) &amp; &quot; 18:30:00.00&quot;)</expression>
    </formulas>
    <formulas>
        <description>Today&apos;s date at 3:00 PM EST (Converted from GMT)</description>
        <name>today_at_300pm</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()) &amp; &quot; 19:00:00.00&quot;)</expression>
    </formulas>
    <formulas>
        <description>Today&apos;s date at 9:30 AM EST (Converted from GMT)</description>
        <name>today_at_930am</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()) &amp; &quot; 13:30:00.00&quot;)</expression>
    </formulas>
    <interviewLabel>Create a Work Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Work Log</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a work log with the provided data</description>
        <name>Create_Work_Log</name>
        <label>Create Work Log</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>CWL_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>CWL_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDistraction__c</field>
            <value>
                <elementReference>CWL_IsDistraction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEmergency__c</field>
            <value>
                <elementReference>CWL_IsEmergency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Story__c</field>
            <value>
                <elementReference>CWL_Related_Story</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SF_or_DevOps_Work__c</field>
            <value>
                <elementReference>CWL_SF_or_DevOps_Work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint__c</field>
            <value>
                <elementReference>CWL_Sprint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>CWL_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>CWL_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Log_Status__c</field>
            <value>
                <elementReference>CWL_Work_Log_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the current sprint record</description>
        <name>Get_Current_Sprint</name>
        <label>Get Current Sprint</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Work_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sprint__c</object>
        <queriedFields>Name</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the latest work log based on End Time field</description>
        <name>Get_Latest_Work_Log</name>
        <label>Get Latest Work Log</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Type_of_Work_Log_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>date_time_today_start</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>date_time_today_end</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Log__c</object>
        <sortField>End_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Screen to collect work log data</description>
        <name>Arch_Call_Work_Log_Review_Screen</name>
        <label>Arch Call Work Log Review Screen</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Nah</backButtonLabel>
        <connector>
            <targetReference>Assign_Arch_Call_Variables</targetReference>
        </connector>
        <fields>
            <name>Arch_Call_Screen2_Display_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create the Arch Call log dawg:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Arch_Call_Work_Log_Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Arch_Call_Work_Log_Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Arch_Call_Sprint</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Sprint.Name</elementReference>
                    </defaultValue>
                    <fieldText>Sprint</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Arch_Call_Sprint_Date_Refs</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;(sprint start date = {!Get_Current_Sprint.Start_Date__c};end date = {!Get_Current_Sprint.End_Date__c})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Arch_Call_Type</name>
                    <choiceReferences>Type_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Standard_Project_Related_Call</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Arch_Call_SF_or_DevOps_Work</name>
                    <choiceReferences>sf_dev_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Other</stringValue>
                    </defaultValue>
                    <fieldText>SF or DevOps Work?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Arch_Call_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Weekly Architecture OH meeting </stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Arch_Call_Work_Log_Review_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Arch_Call_Work_Log_Status</name>
                    <choiceReferences>Work_Log_Status_Field</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Final</stringValue>
                    </defaultValue>
                    <fieldText>Work Log Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Arch_Call_Start_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>today_at_130pm</elementReference>
                    </defaultValue>
                    <fieldText>Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Arch_Call_End_time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>today_at_200pm</elementReference>
                    </defaultValue>
                    <fieldText>End time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Arch_Call_Last_Timestamp_Today</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;(last timestamp for today: {!date_time_latest_WL_time})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Hell Yeah</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Log_Details_Selection_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <description>Screen to collect work log data</description>
        <name>EveningOH_Work_Log_Review_Screen</name>
        <label>Evening OH Work Log Review Screen</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Nah</backButtonLabel>
        <connector>
            <targetReference>Assign_Evening_OH_Variables</targetReference>
        </connector>
        <fields>
            <name>EveningOH_Screen2_Display_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create the &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(208, 131, 13);&quot;&gt;Evening OH log&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; dawg:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EveningOH_Work_Log_Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EveningOH_Work_Log_Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EveningOH_Sprint</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Sprint.Name</elementReference>
                    </defaultValue>
                    <fieldText>Sprint</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EveningOH_Sprint_Date_Refs</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;(sprint start date = {!Get_Current_Sprint.Start_Date__c};end date = {!Get_Current_Sprint.End_Date__c})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EveningOH_Related_Story</name>
                    <choiceReferences>Rel_Story_Choices</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Related Story</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select story (if applicable)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EveningOH_Type</name>
                    <choiceReferences>Type_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Standard_Project_Related_Call</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EveningOH_SF_or_DevOps_Work</name>
                    <choiceReferences>sf_dev_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Other</stringValue>
                    </defaultValue>
                    <fieldText>SF or DevOps Work?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EveningOH_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Daily evening OH meeting</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EveningOH_Work_Log_Review_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EveningOH_Work_Log_Status</name>
                    <choiceReferences>Work_Log_Status_Field</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Final</stringValue>
                    </defaultValue>
                    <fieldText>Work Log Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EveningOH_Start_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>today_at_230pm</elementReference>
                    </defaultValue>
                    <fieldText>Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EveningOH_End_time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>today_at_300pm</elementReference>
                    </defaultValue>
                    <fieldText>End time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EveningOH_Last_Timestamp_Today</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;(last timestamp for today: {!date_time_latest_WL_time})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Hell Yeah</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Log_Details_Selection_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;FOOL!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;There was an error creating the work log. Lookie here:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Poot.</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to collect work log data</description>
        <name>General_Work_Log_Review_Screen</name>
        <label>General Work Log Review Screen</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Nah</backButtonLabel>
        <connector>
            <targetReference>Assign_Gen_Log_Variables</targetReference>
        </connector>
        <fields>
            <name>Screen2_Display_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create the log dawg:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>General_Work_Log_Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Work_Log_Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sprint</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Sprint.Name</elementReference>
                    </defaultValue>
                    <fieldText>Sprint</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sprint_Date_Refs</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;(sprint start date = {!Get_Current_Sprint.Start_Date__c};end date = {!Get_Current_Sprint.End_Date__c})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Related_Story</name>
                    <choiceReferences>Rel_Story_Choices</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Related Story</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select story (if applicable)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Type</name>
                    <choiceReferences>Type_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SF_or_DevOps_Work</name>
                    <choiceReferences>sf_dev_choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>SF or DevOps Work?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_Work_Log_Review_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Work_Log_Status</name>
                    <choiceReferences>Work_Log_Status_Field</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Draft</stringValue>
                    </defaultValue>
                    <fieldText>Work Log Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Start_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>date_time_latest_WL_time</elementReference>
                    </defaultValue>
                    <fieldText>Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>End_time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>date_time_now</elementReference>
                    </defaultValue>
                    <fieldText>End time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Emergency</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Emergency?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Distraction</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Distraction?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Hell Yeah</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Log_Details_Selection_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <description>Screen to collect work log data</description>
        <name>Morning_OH_Work_Log_Review_Screen</name>
        <label>Morning OH Work Log Review Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Nah</backButtonLabel>
        <connector>
            <targetReference>Assign_Morning_OH_Variables</targetReference>
        </connector>
        <fields>
            <name>MorningOH_Screen2_Display_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create the &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(228, 159, 0);&quot;&gt;Morning OH log&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; dawg:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Morning_OH_Work_Log_Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Morning_OH_Work_Log_Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MorningOH_Sprint</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Sprint.Name</elementReference>
                    </defaultValue>
                    <fieldText>Sprint</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MorningOH_Sprint_Date_Refs</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;(sprint start date = {!Get_Current_Sprint.Start_Date__c};end date = {!Get_Current_Sprint.End_Date__c})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MorningOH_Related_Story</name>
                    <choiceReferences>Rel_Story_Choices</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Related Story</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select story (if applicable)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MorningOH_Type</name>
                    <choiceReferences>Type_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Standard_Project_Related_Call</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MorningOH_SF_or_DevOps_Work</name>
                    <choiceReferences>sf_dev_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Other</stringValue>
                    </defaultValue>
                    <fieldText>SF or DevOps Work?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MorningOH_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Daily morning OH meeting </stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Morning_OH_Work_Log_Review_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MorningOH_Work_Log_Status</name>
                    <choiceReferences>Work_Log_Status_Field</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Final</stringValue>
                    </defaultValue>
                    <fieldText>Work Log Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MorningOH_Start_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>today_at_930am</elementReference>
                    </defaultValue>
                    <fieldText>Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MorningOH_End_time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>today_at_1000am</elementReference>
                    </defaultValue>
                    <fieldText>End time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MorningOH_Last_Timestamp_Today</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;(last timestamp for today: {!date_time_latest_WL_time})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Hell Yeah</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Log_Details_Selection_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <description>Screen to collect work log data</description>
        <name>Retro_Work_Log_Review_Screen</name>
        <label>Retro Work Log Review Screen</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Nah</backButtonLabel>
        <connector>
            <targetReference>Assign_Retro_Variables</targetReference>
        </connector>
        <fields>
            <name>Retro_Screen2_Display_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create the Retro log dawg:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Retro_Work_Log_Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Retro_Work_Log_Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Retro_Sprint</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Sprint.Name</elementReference>
                    </defaultValue>
                    <fieldText>Sprint</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Retro_Sprint_Date_Refs</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;(sprint start date = {!Get_Current_Sprint.Start_Date__c};end date = {!Get_Current_Sprint.End_Date__c})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Retro_Type</name>
                    <choiceReferences>Type_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Standard_Project_Related_Call</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Retro_SF_or_DevOps_Work</name>
                    <choiceReferences>sf_dev_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Other</stringValue>
                    </defaultValue>
                    <fieldText>SF or DevOps Work?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Retro_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Sprint retro meeting</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Retro_Work_Log_Review_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Retro_Work_Log_Status</name>
                    <choiceReferences>Work_Log_Status_Field</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Draft</stringValue>
                    </defaultValue>
                    <fieldText>Work Log Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Retro_Start_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>date_time_latest_WL_time</elementReference>
                    </defaultValue>
                    <fieldText>Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Retro_End_time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>date_time_latest_WL_time</elementReference>
                    </defaultValue>
                    <fieldText>End time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Retro_Last_Timestamp_Today</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(68, 68, 68);&quot;&gt;(last timestamp for today: {!date_time_latest_WL_time})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Hell Yeah</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Log_Details_Selection_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <description>Screen enabling user to select which type of work log they wish to create</description>
        <name>Select_Type_of_Work_Log_Screen</name>
        <label>Select Type of Work Log Screen</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Log_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Work_Log_Type</name>
            <choiceReferences>General_Work_Log</choiceReferences>
            <choiceReferences>Morning_OH_Log</choiceReferences>
            <choiceReferences>Daily_Standup_Log</choiceReferences>
            <choiceReferences>Evening_OH_Log</choiceReferences>
            <choiceReferences>Weekly_Architecture_Log</choiceReferences>
            <choiceReferences>Sprint_Retro_Log</choiceReferences>
            <choiceReferences>Story_Sizing_Log</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select what type of work log you&apos;d like to create:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Git&apos;er Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Log_Creation_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <description>Screen to collect work log data</description>
        <name>Sizing_Work_Log_Review_Screen</name>
        <label>Sizing Work Log Review Screen</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Nah</backButtonLabel>
        <connector>
            <targetReference>Assign_Sizing_Log_Variables</targetReference>
        </connector>
        <fields>
            <name>Sizing_Screen2_Display_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create the Sizing log dawg:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sizing_Work_Log_Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sizing_Work_Log_Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sizing_Sprint</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Sprint.Name</elementReference>
                    </defaultValue>
                    <fieldText>Sprint</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sizing_Sprint_Date_Refs</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;(sprint start date = {!Get_Current_Sprint.Start_Date__c};end date = {!Get_Current_Sprint.End_Date__c})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sizing_Type</name>
                    <choiceReferences>Type_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Standard_Project_Related_Call</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sizing_SF_or_DevOps_Work</name>
                    <choiceReferences>sf_dev_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Other</stringValue>
                    </defaultValue>
                    <fieldText>SF or DevOps Work?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sizing_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Story Sizing meeting</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sizing_Work_Log_Review_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sizing_Work_Log_Status</name>
                    <choiceReferences>Work_Log_Status_Field</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Draft</stringValue>
                    </defaultValue>
                    <fieldText>Work Log Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sizing_Start_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>date_time_latest_WL_time</elementReference>
                    </defaultValue>
                    <fieldText>Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sizing_End_time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>date_time_latest_WL_time</elementReference>
                    </defaultValue>
                    <fieldText>End time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sizing_Last_Timestamp_Today</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;(last timestamp for today: {!date_time_latest_WL_time})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Hell Yeah</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Log_Details_Selection_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <description>Screen to collect work log data</description>
        <name>Standup_Work_Log_Review_Screen</name>
        <label>Standup Work Log Review Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Nah</backButtonLabel>
        <connector>
            <targetReference>Assign_Daily_Standup_Variables</targetReference>
        </connector>
        <fields>
            <name>Standup_Screen2_Display_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create the &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 255);&quot;&gt;Standup log&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; dawg:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Standup_Work_Log_Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Standup_Work_Log_Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Standup_Sprint</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Sprint.Name</elementReference>
                    </defaultValue>
                    <fieldText>Sprint</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Standup_Sprint_Date_Refs</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;(sprint start date = {!Get_Current_Sprint.Start_Date__c};end date = {!Get_Current_Sprint.End_Date__c})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Standup_Type</name>
                    <choiceReferences>Type_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Standard_Project_Related_Call</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Standup_SF_or_DevOps_Work</name>
                    <choiceReferences>sf_dev_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Other</stringValue>
                    </defaultValue>
                    <fieldText>SF or DevOps Work?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Standup_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Daily standup meeting </stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Standup_Work_Log_Review_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Standup_Work_Log_Status</name>
                    <choiceReferences>Work_Log_Status_Field</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Final</stringValue>
                    </defaultValue>
                    <fieldText>Work Log Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Standup_Start_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>today_at_1030am</elementReference>
                    </defaultValue>
                    <fieldText>Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Standup_End_time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>today_at_1100am</elementReference>
                    </defaultValue>
                    <fieldText>End time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Standup_Last_Timestamp_Today</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;(last timestamp for today: {!date_time_latest_WL_time})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Hell Yeah</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Log_Details_Selection_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Zucc_Succ_Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Success&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Congratulations, you&apos;ve got a new record logged!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yipee!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <description>Final stage of the process. Records successfully created.</description>
        <name>Final_Stage</name>
        <isActive>false</isActive>
        <label>Final Stage</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <description>Step 1 of the process. Selecting what type of work log you&apos;d like to create.</description>
        <name>Log_Creation_Stage</name>
        <isActive>true</isActive>
        <label>Log Type Selection Stage</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <description>Step 2 of the process. Entering data you&apos;d like to add to the work log</description>
        <name>Log_Details_Selection_Stage</name>
        <isActive>false</isActive>
        <label>Log Details Selection Stage</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Sprint</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable for Create Work Log to store the field Description</description>
        <name>CWL_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for Create Work Log to store the field End_Time</description>
        <name>CWL_End_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for Create Work Log to store the field IsDistraction</description>
        <name>CWL_IsDistraction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable for Create Work Log to store the field IsEmergency</description>
        <name>CWL_IsEmergency</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable for Create Work Log to store the field Related_Story</description>
        <name>CWL_Related_Story</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for Create Work Log to store the field SF_or_DevOps_Work</description>
        <name>CWL_SF_or_DevOps_Work</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for Create Work Log to store the field Sprint</description>
        <name>CWL_Sprint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for Create Work Log to store the field Start_Time</description>
        <name>CWL_Start_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for Create Work Log to store the field Type</description>
        <name>CWL_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for Create Work Log to store the field Work_Log_Status</description>
        <name>CWL_Work_Log_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
